/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*
* {
    border: 1px solid black;
}

*/

#container {
    width: 80%;
    min-width: 800px;
    margin: 0px auto;
}

header {
    height: 200px;
    border-bottom: 1px solid #747474;
    font-size:large;
}

.navigationbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
        
 }

.navigationbar ul li {
     float: left;
 }

.navigationbar ul li a {
     display: block;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     color: black;
 }

content {
    width: 85%;
    min-width: 300px;
    float: left;
    min-height: 400px;
    border-left: 1px solid #747474;
    border-right: 1px solid #747474;
    padding: 20px 10px 10px 10px;
}

aside {
    width: 10%;
    min-width:190px;
    float: right;
    min-height: 400px;
}

footer {
    clear: both;
    border-top: 1px solid #747474;
}


thead{
    font-size: 150%;
    background-color: #00ffff;
    text-align: center;
    color: white;
}

tfoot{
    font-size: 80%;
    text-align: right;
}

tbody{
    line-height: 30px;
}
tbody td {
    padding: 7px;
}