<nav class="navigationbar">
    <ul>
        <li >
            <a asp-action="index" asp-controller="home">Startseite</a>
        </li>
        <li >
            <a asp-action="aboutUs" asp-controller="home">Über uns</a>
        </li>
        <li >
            <a asp-action="registration" asp-controller="home">Registrieren</a>
        </li>
        <li >
            <a asp-action="index" asp-controller="shop">Shop</a>
        </li>
        <li >
            <a asp-action="returnArticles" asp-controller="shop">Rücksendungen</a>
        </li>
    </ul>
</nav>